@import url(https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap);
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

body {
 margin:0;
 line-height:inherit
}


/*.mint {
  align-items: center;
  background: url(https://i.imgur.com/IwOrLoK.jpeg);
  background-position: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

} */


.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin 20s linear infinite;
    animation: App-logo-spin 20s linear infinite;
  }
}
.App-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
.App-link {
  color: #61dafb;
}
@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-family: Share Tech Mono, monospace;
  overflow: hidden;
}
.land-page {
  color: #fff;
  display: table;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.land-page h4,
.land-page h6 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.land-page h4 {
  bottom: 60px;
  margin: 0;
  position: absolute;
}
.land-page div#countdown ul {
  display: flex;
  list-style: none;
  margin: 50px 0 0;
}
.land-page div#countdown ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 63px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.land-page div#countdown ul li span {
  color: #0ff;
  display: table;
  font-size: 56px;
  font-weight: 400;
  line-height: 63px;
  text-align: center;
  text-shadow: 0 2px 6px rgba(0, 255, 255, 0.4);
  text-transform: uppercase;
  width: 100%;
}
.land-page div#countdown ul li:after {
  color: #0ff;
  content: ":";
  font-size: 56px;
  margin: auto;
  position: absolute;
  right: -36px;
  top: 17px;
}
.land-page div#countdown ul li:last-child {
  margin: 0;
}
.land-page div#countdown ul li:last-child:after {
  display: none;
}
.land-page #redux,
.land-page #redux2 {
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.land-page div#robot {
  align-items: center;
  background: url(https://i.imgur.com/IwOrLoK.jpeg);
  background-position: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.for-mob {
  display: none;
}

.object{
    animation: dribble 6.9s ease-in-out 0s infinite alternate forwards;
}

@keyframes dribble{
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
}


@media (max-width: 767px) {
  .land-page div#countdown ul li {
    margin-right: 30px;
  }
  .land-page div#countdown ul li span {
    font-size: 30px;
  }
  .land-page div#countdown ul li:after {
    right: -36px;
    top: 17px;
  }
  .for-desk {
    display: none;
  }
  .for-mob {
    display: block;
  }
} 




.btn {
 position:relative;
 display:inline-flex;
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none;
 align-items:center
}
.btn>:not([hidden])~:not([hidden]) {
 --tw-space-x-reverse:0;
 margin-right:calc(.5rem * var(--tw-space-x-reverse));
 margin-left:calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}
.btn {
 border-radius:9999px;
 padding:.75rem 1.5rem;
 letter-spacing:.05em;
 transition-property:all;
 transition-timing-function:cubic-bezier(.4,0,.2,1);
 transition-duration:.15s
}
.btn:hover {
 top:-1px;
 --tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);
 --tw-shadow-color:rgb(108 151 183/0.3);
 --tw-shadow:var(--tw-shadow-colored)
}
.btn:active,
.btn:hover {
 box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}
.btn:active {
 top:1px;
 --tw-shadow:0 0 #0000;
 --tw-shadow-colored:0 0 #0000
}
.-mt-16 {
 margin-top:-4rem
}
.flex {
 display:flex
}
.h-full {
 height:100%
}
.h-2 {
 height:.5rem
}
.h-4 {
 height:1rem
}
.h-6 {
 height:1.5rem
}
.w-8 {
 width:2rem
}
.w-full {
 width:100%
}
.flex-none {
 flex:none
}
.flex-auto {
 flex:1 1 auto
}
.flex-col {
 flex-direction:column
}
.items-center {
 align-items:center
}
.justify-center {
 justify-content:center
}
.space-x-4>:not([hidden])~:not([hidden]) {
 --tw-space-x-reverse:0;
 margin-right:calc(1rem * var(--tw-space-x-reverse));
 margin-left:calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}
.space-y-4>:not([hidden])~:not([hidden]) {
 --tw-space-y-reverse:0;
 margin-top:calc(1rem * calc(1 - var(--tw-space-y-reverse)));
 margin-bottom:calc(1rem * var(--tw-space-y-reverse))
}
.space-x-2>:not([hidden])~:not([hidden]) {
 --tw-space-x-reverse:0;
 margin-right:calc(.5rem * var(--tw-space-x-reverse));
 margin-left:calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}
.bg-white {
 --tw-bg-opacity:1;
 background-color:rgb(255 255 255/var(--tw-bg-opacity))
}
.p-5 {
 padding:1.25rem
}
.text-center {
 text-align:center
}
.text-6xl {
 font-size:3.75rem;
 line-height:1
}
.text-3xl {
 font-size:1.875rem;
 line-height:2.25rem
}
.text-base {
 font-size:1rem;
 line-height:1.5rem
}
.font-bold {
 font-weight:700
}
.tracking-wider {
 letter-spacing:.05em
}
.text-white {
 --tw-text-opacity:1;
 color:rgb(255 255 255/var(--tw-text-opacity))
}
.text-yellow-200 {
 --tw-text-opacity:1;
 color:rgb(250 230 1/var(--tw-text-opacity))
}
.text-sea-700 {
 --tw-text-opacity:1;
 color:rgba(237, 237, 237, 1/var(--tw-text-opacity))
}
.text-sea-600 {
 --tw-text-opacity:1;
 color:rgb(68 92 127/var(--tw-text-opacity))
}
@media (min-width:768px) {
 .md\:-mt-32 {
  margin-top:-8rem
 }
 .md\:w-12 {
  width:3rem
 }
 .md\:w-\[600px\] {
  width:600px
 }
 .md\:space-y-8>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse:0;
  margin-top:calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom:calc(2rem * var(--tw-space-y-reverse))
 }
 .md\:text-8xl {
  font-size:6rem;
  line-height:1
 }
 .md\:text-5xl {
  font-size:3rem;
  line-height:1
 }
 .md\:text-xl {
  font-size:1.25rem;
  line-height:1.75rem
 }
}
@media (min-width:1024px) {
 .lg\:-mt-36 {
  margin-top:-9rem
 }
 .lg\:text-9xl {
  font-size:8rem;
  line-height:1
 }
}

